*{
    margin: 0%;
    padding: 0%;
    
}

h4{
  display: inline-block;
  color: rgb(255, 255, 255);
  
}
h1{
  text-align: center;
}
.filtro{
  display: inline-block;
  position: fixed;
}
.btn-primary{
  align-items: center;
  text-align: center;
}

.publicidad{
    position: relative;
    text-align: center;
    width: auto;
    height: 25px;
    background-color:blue;
    color: white;

}
.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.col_carrusel{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.productos{
    width: auto;
    height: 800px;
    background-color: brown;
    
}
body {
    margin: 0;
    margin-bottom: 40px;
    background-color: rgb(255, 255, 255);
  }

  footer {
    min-height: 70px;
    background-color: #191919;
    background-image: -moz-linear-gradient(top, #191919, #000000);
    background-image: -o-linear-gradient(top, #191919, #000000);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #191919), color-stop(1, #000000));
    background-image: -webkit-linear-gradient(#191919, #000000);
    background-image: linear-gradient(top, #191919, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#191919', endColorStr='#000000');
    border-top: 1px solid rgba(50, 50, 50, 0.3);
    width: 100%;
    position: relative;
    clear: both;
    margin-top: 0px;
    padding-top: 0px;
    overflow: visible;
  }

  
  .footer {
    border-top: 1px solid #222;
  }
  
  .post-footer {
    width: 950px;
    margin: 0 auto;
  }
.navbar-expand-lg img{
    height: 30px;
}

p{
    display: inline-block;
}

#menuBuscar a{
 text-decoration: none;
}

#confirmarContraseñaDiv{
  display: none;
}

#nombresDiv{
  display: none;
}

#apellidosDiv{
  display: none;
}

#btnRegistrarme{
  display: none;
}

#btnCambioInicioSesion{
  display: none;
}
#ulCuentaYContraseñaDiv{
  text-decoration: none;
  list-style-type: none; 
}
.publicidad_tienda{
  display: inline-block;
}
